<a href="https://colab.research.google.com/github/Nanyang7/PythonAI1/blob/main/6_%EB%A6%AC%EC%8A%A4%ED%8A%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. 리스트(list)**

- 여러가지 데이터타입의 데이터를 ,(콤마)로 구분하여 []로 감싼 자료구조

---

In [ ]:
li1 = [1, 3, 5, 7, 9]
print(li1)

#list() 함수 사용
li2 = list([1, 3, 5, 7, 9])
print(li2)

li3 = ['김나은', '김태희', '한가인', '전지현', '이영애']
print(li3)

li4 = [1, 1.5, '나냥이', True]
print(li4)

[1, 3, 5, 7, 9]
[1, 3, 5, 7, 9]
['김나은', '김태희', '한가인', '전지현', '이영애']
[1, 1.5, '나냥이']

# **2. 리스트 인덱싱**

In [ ]:
print(li1)
print()
print(li1[0])
print(li1[-1])

[1, 3, 5, 7, 9]

1
9

In [ ]:
li2 = ['김나은', '박수빈', '김은서' , ['😊','😍','😂','🤣']]
print(li2[-1])
print(li2[0])
print(li2[-1][-1])

['😊', '😍', '😂', '🤣']
김나은

In [ ]:
li3 = [1, 3, 5, ['김나은', '류호근', '김재현', ['날', '떠', '나', '지', '마']]]
print(li3[-1][-1][-3])
# 나 뽑기

나

# **3. 리스트 슬라이싱**

In [3]:
li4 = [10, 20, 30, 40, 50]
print(li4)
print(type(li4))
print(li4[0:3])

#참고
#print(type(str(li4))) #str으로 형변환
#print(str(li4)[0]) #대괄호 까지 전부 문자로 취급.
#print(str(li4).replace('[','']).replace(']',''))

li5 =li4
li5[0] = 100
print(li5)

li6 = [10, 20, 30, ['류호근', '김나은', '나냥이'], 40, ['❤️','👍']]
print(li6)
print(li6[2:6])

[10, 20, 30, 40, 50]
<class 'list'>
[10, 20, 30]
[100, 20, 30, 40, 50]
[10, 20, 30, ['류호근', '김나은', '나냥이'], 40, ['❤️', '👍']]
[30, ['류호근', '김나은', '나냥이'], 40, ['❤️', '👍']]

# **4. 리스트 연산자**

In [10]:
li7 = [10, 20, 30]
li8 = [40, 50, 60]

print(li7 + li8)
print(li8 + li7)

#print(li7 - li8) # TypeError : unsupported operand type(s) for -: 'list' and 'list'
#print(li7 * li8) # TypeError : can't multiply sequence by non-int of type 'list'
#print(li7/ li8 ) # TypeError : unsupported operand type(s) for /: for : 'list' and 'list'


print(li7 * 3)


li9 = [10, 20, 30, '하핫']
print(li9)
print(li9[1] + li9[2]) # TypeError : can only concentenate str (not"int") to str
print(li9[1])
print(li9[3] * 3)

[10, 20, 30, 40, 50, 60]
[40, 50, 60, 10, 20, 30]
[10, 20, 30, 10, 20, 30, 10, 20, 30]
[10, 20, 30, '하핫']
50
20
하핫하핫하핫

5. 리스트의 수정/삭제

In [12]:
li10 = [10, 20, 30]
print(li10)
li10[1] = 100
print(li10)

#li10[1] # 코드셀 마지막에 넣으면 print 함수 없이도 출력이 되네 ?

[10, 20, 30]
[10, 100, 30]

In [16]:
# 슬라이싱을 사용해서 값을 수정할 때
li10[1:2] = [55, 66, 77] # 슬라이싱을 이용하여 리스트 데이터를 추가한 경우 리스트에 데이터가 들어간다.
print(li10)

#인덱싱을 사용해서 값을 수정할 때
li10 = [10, 20, 30]
li10[1] = [55, 66, 77] # 인덱싱을 이용하여 리스트 데이터를 추가한 경우 리스트안에 리스트가 들어간다.
print(li10)

print(li10[0:3])
#li10[1:3] = [] #빈 리스트를 저장 -> 삭제
#print(li10)

li10[2] = []
print(li10)

del li10[0:3]
print(li10)

[10, 55, 66, 77]
[10, [55, 66, 77], 30]
[10, [55, 66, 77], 30]
[10, [55, 66, 77], []]
[]

# **6. 리스트 함수**

In [18]:
li11 = [10, 20, 30]
print(li11)

#li11[3] = 40 #IndexError

#append() : 리스트 마지막 자리에 데이터를 추가
li11.append(40)
print(li11)

li11.append([50, 60])
print(li11)

li11.append([70,80],90) #TypeError
print(li11)

[10, 20, 30]
[10, 20, 30, 40]
[10, 20, 30, 40, [50, 60]]

In [ ]:
li12 = [10, 20, 30 , 40 , 50]
print(li12)

#pop() : 리스트 마지막에 저장된 데이터를 반환하고 해당 데이터는 삭제
# 매개변수로 인덱스를 전달하면 해당 인덱스의 데이터가 삭제.
li12.pop()
print(li12)
temp = li12.pop()
print(li12)
print(temp)

In [19]:
li13 = [10, 20, 30, 40, 50, 20, 40]

#remove() : 매개변수로 전달된 데이터를 제거, 같은 데이터가 여러개 있는 경우 처음 출현하는 데이터를 삭제
li13.remove(20)
print(li13)

li13.remove(20)
print(li13)

#li13.remove(20) #ValueError
print(li13)

[10, 30, 40, 50, 20, 40]
[10, 30, 40, 50, 40]
[10, 30, 40, 50, 40]

In [20]:
li14 = [10, 20, 30]

#insert() : 리스트의 특정 위치(인덱스)에 데이터를 삽입
#li14.insert(100)  #ValueError
print(li14)

TypeError: insert expected 2 arguments, got 1

In [22]:
li15 = [10, 20, 30]

#index() :  리스트에 저장된 데이터가 있을 경우 위치를 인덱스로 반환(없으면 에러)
print(li15.index(30))
# print(li15.index(100)) #ValueError : 100 is not in list

2

In [24]:
li16 = [45, 88, 66, 4, 23, 47]

#reverse() : 리스트에 저장된 데이터를 반대 순서로 반환
li16.reverse()
print(li16)

[47, 23, 4, 66, 88, 45]

In [26]:
li17 = [10, 40, 30, 100, 90, 50]

#sort() : 리스트에 저장된 데이터를 오름차순, 내림차순으로 정렬
li17.sort() # 오름차순
print(li17)

#sort(reverse = True) #내림차순
li17.sort(reverse = True)
print(li17)

li18 = ['Apple', 'apple', 'orange', 'banana', 'grape']
li18.sort(reverse = True)
print(li18)


li19 = ['김나은', '유혜원', '한소희', '조이현', '신세경']
li19.sort()
print(li19)

[10, 30, 40, 50, 90, 100]
[100, 90, 50, 40, 30, 10]
['orange', 'grape', 'banana', 'apple', 'Apple']
['김나은', '신세경', '유혜원', '조이현', '한소희']

In [27]:
li19 = [10, 20, 30, 50, 20, 40, 30, 20]

#count() : 리스트에 포함된 특정 데이터의 갯수를 반환
print(li19.count(20))
print(li19.count(15))

3
0

In [28]:
li20 = [1, 2, 3]

#extend() : 리스트를 더함
li20.extend([40,50])
print(li20)

li21 = [1,2,3]
# li21 = li21 + [40, 50]
li21 += [40, 50] #복합대입연산자
print(li21)

[1, 2, 3, 40, 50]
[1, 2, 3, 40, 50]

In [29]:
# len() : 요소의 갯수 변환
print(len(li21))

5